<div class="modal-body"
     ng-swipe-left="Lightbox.nextImage()"
     ng-swipe-right="Lightbox.prevImage()">

  <!-- image -->
  <div class="lightbox-image-container">
    <img lightbox-src="{{Lightbox.imageUrl}}" alt="">
  </div>

  <!-- caption -->
  <div>
    <h3 style="margin: 18px 0 0 0">PEINTURE</h3>
    <!--</div>-->
    <!--<div class="col-xs-6 col-md-2">-->
    <!--<img src="images/artists/miro_joan.jpg" class="img-responsive img-circle">-->
    <h6 style="margin: 4px 0 0 0">Joan Miró
      <small>(France)</small>
    </h6>
  </div>

</div>
