<div class="row row-eq-height top50" ng-repeat="image in images">

  <div class="col-xs-12 col-sm-6 col-md-8">
    <a ng-click="Lightbox.openModal(images, $index)">
      <img ng-src="{{image}}" class="img-responsive pull-right" style="border-radius: 2px;">
    </a>
  </div>

  <div class="col-xs-6 col-md-4" style="min-height: 300px;">
    <h3 style="margin: 10px 0 0 0">PEINTURE</h3>
    <!--</div>-->
    <!--<div class="col-xs-6 col-md-2">-->
    <!--<img src="images/artists/miro_joan.jpg" class="img-responsive img-circle">-->

    <h6 style="margin: 4px 0 0 0">Joan Miró
      <small>(France)</small>
    </h6>

    <div class="bottom" style="margin-bottom: 30px;">
      <p class="info small">
        100 x 80 cm<br>
        Acryl auf Leinwand<br>
        <br><br>
      </p>
      <h6 class="info">550 &euro;</h6>
    </div>

  </div>
</div>
