<div class="row row-eq-height top50" ng-repeat="masterpiece in masterpieces">

  <div class="col-xs-4 col-sm-6 col-md-6">
    <a ng-click="Lightbox.openModal(masterpieces, $index)">
      <img ng-src="images/masterpieces/{{masterpiece.gsx$bildklein.$t}}" class="img-responsive pull-right"
           style="border-radius: 2px;">
    </a>
  </div>

  <div class="col-xs-8 col-sm-6 col-md-6" style="min-height: 200px;">
    <h3 class="painting">{{masterpiece.gsx$bildname.$t }}
      <small ng-if="masterpiece.gsx$bildjahr.$t">({{masterpiece.gsx$bildjahr.$t}})</small>
    </h3>

    <h6 ng-click="showArtist(masterpiece)" style="margin: 4px 0 0 0; cursor: pointer;">{{masterpiece.gsx$kuenstler.$t}}
      <small ng-if="masterpiece.gsx$kuenstlerherkunft.$t">({{masterpiece.gsx$kuenstlerherkunft.$t}})</small>
    </h6>

    <p ng-click="showArtist(masterpiece)" ng-if="masterpiece.isShown" class="animate-if small top10" style="color:#666666; cursor: pointer; padding-bottom: 100px;">
      {{masterpiece.gsx$kuenstlerbeschreibung.$t}}
      <br><br>
      <a target="blank" href="http://www.{{masterpiece.gsx$kuenstlerwebsite.$t}}">{{masterpiece.gsx$kuenstlerwebsite.$t}}</a>
    </p>


    <div class="bottom">
      <p class="info small">
        {{masterpiece.gsx$bildgroesse.$t}}<br>
        {{masterpiece.gsx$bildtyp.$t}}<br>
        <br><br>
      </p>
      <h6 class="info">Nr. {{masterpiece.gsx$bildtyp.$t}} | {{masterpiece.gsx$bildpreis.$t}} &euro;</h6>
    </div>

  </div>
</div>
