<!--<div class="jumbotron">-->
<!--<h1>'Allo, 'Allo!</h1>-->

<!--<p class="lead">-->
<!--<img src="images/yeoman.png" alt="I'm Yeoman"><br>-->
<!--Always a pleasure scaffolding your apps.-->
<!--</p>-->

<!--<p><a class="btn btn-lg btn-success" ng-href="#/">Splendid!<span class="glyphicon glyphicon-ok"></span></a></p>-->
<!--</div>-->


<div class="row">
  <div class="col-xs-12 col-sm-6 col-md-8">
    <img src="images/masterpieces/miro_joan-peinture_femme_se_poudrant.jpg" class="img-responsive" style="border-radius: 2px;">
  </div>
  <div class="col-xs-6 col-md-4">
    <h6>PEINTURE (FEMME SE POUDRANT)</h6>
  </div>
  <div class="col-xs-6 col-md-2" style="margin-top: 190px;">
    <img src="images/artists/miro_joan.jpg" class="img-responsive img-circle">
    <h6 class="text-center">Joan Miró</br>
      <small>(1893 - 1983)</small>
    </h6>
  </div>
</div>

<input class="form-control" data-toggle="tooltip" data-placement="right" title="Short title">
<div class="row top50">
  <div class="col-xs-12 col-sm-6 col-md-10">
    <img src="images/masterpieces/miro_joan-peinture_femme_se_poudrant.jpg" class="img-responsive">
  </div>
  <div class="col-xs-6 col-md-2">
    <img src="images/artists/miro_joan.jpg" class="img-responsive img-circle">
    <h4 class="text-center">Joan Miró
      <small>(1893 - 1983)</small>
    </h4>
  </div>
</div>
